.playerQuestionResultContainer {
    background-color: #FF9E7D;
    border-radius: 80px;
    border: #fff 15px solid;
    width: 40%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;

    .textCorrect, .textIncorrect{
        font-size: 3rem;
        font-weight: bolder;
        color: #fff;
    }

    .checkIcon{
        font-size: 5rem;
        font-weight: bolder;
        color: #fff;
        stroke-width: 10rem;
    }
    .xIcon{
        font-size: 5rem;
        font-weight: bolder;
        color: red;
        // stroke-width: 10rem;
    }

    // svg{
    //     font-size: 5rem;
    //     font-weight: bolder;
    //     color: #fff;
    //     // stroke-width: 10rem;
    // }

    p{
        color:#fff;
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: rgba($color: #000000, $alpha: 0.2);
        // display: inline-block;
        // font-size: 1.5rem;
        font-weight: bold;
        width: 50%;
    }
}