.hostContainer{
    background-image: url("../../../../public/images/background-homepage.png");
    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .logoSlave {
        display: inline-block;
        font-family: 'Jolly Lodger', cursive;
        font-size: 100px;
        color: #0188A5;
        margin-left: 40px;
    }

    .user{
        float: right;
        margin: 20px;
        margin-right: 50px;
    }

    .linkToCreate:hover
    {
        box-shadow: 0 1px 2px rgba(0,0,0,0.15);
        transition: box-shadow 0.3s ease-in-out;
    }

    .linkToCreate{
        height: 25%;
        width: 20%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        border-radius: 4px;
        margin:auto;
        .imgCreate{
            height: 60%;
            margin-bottom: 3%;
            width: 80%;

        }
        .createButton:hover{
            cursor: pointer;
            opacity: 0.7;
        }
        .createButton{
            border-radius:4px;
            height:20%;
            width:50%;
            text-align:center;
            line-height:4px;
            font-size:20px;
            border:none;
            background-color: green;
            color:#fff;
            font-weight:bolder;
        }
    }
    .myList{
            margin-top: 3rem;
            display:grid;
            grid-template-columns: repeat(5 ,1fr);
            gap:3rem;
            overflow: auto;
            max-width:75vw;
            background-color: #fff;
            margin:2rem auto;
            padding: 2rem;
            max-height: 65vh;
        .myQuizList:hover
        {
            box-shadow: 0 1px 2px rgba(0,0,0,0.15);
            transition: box-shadow 0.3s ease-in-out;
            cursor: pointer;
        }
    
        .myQuizList
        {
            position: relative;   
            background-color: white;
            
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
            border-radius: 4px;
    
            .imgQuiz{
                height: 100%;
                margin-bottom: 3%;
                width: 100%;    
                object-fit: cover;
            }
    
            .quizName{
                border-radius:4px;
                text-align:center;
                margin: 5px;
                padding-bottom: 5px;
                line-height:4px;
                font-size:2.4rem;
                color:black;
                font-weight:bolder;
                text-align: center;
                position: absolute;
                left:0;
                bottom:0;
                color:#fff;
            }
        }
        
    }


  
}