.registerContainer {
  background: url(../../../../public/images/background-homepage.png) no-repeat
    center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .planetIcon {
    position: absolute;
    width: 300px;
    height: auto;
    right: 0;
    top: 0;
  }

  .registerForm {
    background-color: #ff9e7d;
    border: #fe546f 15px solid;
    border-radius: 70px;
    padding: 40px;
    padding-top: 10px;
    text-align: center;
    position: relative;

    .starIcon {
      width: 120px;
      height: 120px;
      position: absolute;
      bottom: -20px;
      right: -50px;
    }

    .title {
      font-weight: bolder;
      font-size: 30px;
      color: #3e3264;
    }

    .logo {
      font-family: "Jolly Lodger", cursive;
      font-size: 100px;
      color: #352a55;
    }

    .registerContainer__form__emailInput {
      border-radius: 50px;
      height: 45px;
      width: 97%;
      text-align: left;
      padding-left: 30px;
      margin: 5px;
      margin-top: 25px;
      line-height: 4px;
      font-size: 15px;
      background-color: #fff;
      border: none;

      &:focus {
        outline: none;
      }
    }

    .password__container {
      position: relative;
    }

    .registerContainer__form__passwordInput {
      border-radius: 50px;
      height: 45px;
      width: 97%;
      text-align: left;
      padding-left: 30px;
      margin: 5px;
      margin-top: 10px;
      line-height: 4px;
      font-size: 15px;
      background-color: #fff;
      border: none;

      &:focus {
        outline: none;
      }
    }

    .eyeIcon {
      position: absolute;
      width: 20px;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      cursor: pointer;
    }

    .registerButton {
      border-radius: 50px;
      height: 45px;
      width: 97%;
      text-align: center;
      margin: 5px;
      margin-top: 30px;
      margin-bottom: 10px;
      line-height: 4px;
      font-size: 15px;
      background-color: #352a55;
      color: #fff;
      border: none;
      font-weight: 700;
      cursor: pointer;

      &:hover {
        background-color: #3e3264;
      }
    }
  }
}
