.host-question {
  padding: 1.2rem 3rem;
  height: 100vh;

  .host-question__progress {
    height: 20px;
    background-color: grey;
    max-width: 100%;
    animation: progressMove 4s forwards;
  }

  .host-question__detail {
    height: 100%;
    display: grid;
    grid-template-rows: 10% 40% 40%;
    grid-row-gap: 5%;
    position: relative;

    h1 {
      text-align: center;
      font-size: 5rem;
    }

    .host-question__detail-info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        font-weight: bold;

        &:first-of-type {
          padding: 1.6rem 2rem;
          background-color: rebeccapurple;
          color: #fff;
          font-size: 4rem;
          border-radius: 50%;
        }

        &:last-of-type {
          p {
            font-size: 2rem;
          }

          text-align: center;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .host-question__control-btn {
      position: absolute;
      top: 0;
      right: 0;
      padding: 1.2rem 1.6rem;
      font-size: 1.6rem;
      cursor: pointer;
      background-color: blue;
      color: #fff;
      border: none;
    }
  }
}

@keyframes progressMove {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
