
.loginContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-image: url("../../../public/images/background-homepage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
    .loginContainer__form{

        display: flex;
        width: 50%;
        justify-content: center;
        flex-direction: column;
        padding:10%;
        background-color: whitesmoke;

        .loginContainer__form__text1{
            font-weight: bolder;
            font-size: xx-large;
        }
        .loginContainer__form__text2{
            color: rgb(134,146,166);
            margin-bottom: 30px;
        }

        hr{
            margin-bottom: 30px;
            opacity: 0.1;
        }

        label{
            color: rgb(134,146,166);
            margin-bottom: 10px;
            font-weight: bolder;
        }

        .loginContainer__form__emailInput:focus{
            outline: none;
        }
        .loginContainer__form__emailInput{
            border: white;
            border-radius: 20px;
            height:100px;
            margin-bottom: 5px;
            padding: 15px;
            font-size:15px;
            line-height: 4px;
            margin-bottom: 20px;
            background-color: white;
            color:black;
            font-weight:bolder;
            filter: drop-shadow(1px 1px 2px black);

        }

        .loginContainer__form__passwordInput:focus{
            outline: none;
        }
        .loginContainer__form__passwordInput{
            border: white;
            border-radius: 20px;
            height:45px;
            padding: 15px;
            font-size:15px;
            background-color: white;
            color:black;
            font-weight:bolder;
            margin-bottom: 40px;
            filter: drop-shadow(1px 1px 2px black);

        }

        .loginButton:hover{
            opacity: 0.7;
            cursor: pointer;
        
        }
        .loginContainer__form__hr
        {
            margin-top: 10px;
            margin-bottom: 10px;
            opacity: 0.2;
            text-align: center;
        }
        .loginButton{
            border: rgb(10, 75, 188);
            border-radius: 20px;
            height:45px;
            text-align:center;
            padding: 15px;
            font-size:15px;
            background-color: rgb(10, 75, 188);
            color:white;
            font-weight:bolder;
            
        }
        
        .googleButton:hover{
            opacity: 0.7;
            cursor: pointer;
        
        }
        .googleButton{
            background: url("https://freesvg.org/img/1534129544.png") no-repeat left;
            background-position: 20px;
            background-size: 20px;
            border: white;
            border-radius: 20px;
            height:45px;
            text-align:center;
            padding: 15px;
            font-size:15px;
            background-color: white;
            color:black;
            font-weight:bolder;
            margin-bottom: 10px;
            filter: drop-shadow(1px 1px 2px black);
        }
    

    }
   

}

