.loginContainer {
    width: 100vw;
    height: 100vh;
    background-image: url("../../../public/images/background-homepage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .planetIcon {
        position: absolute;
        width: 300px;
        height: auto;
        right: 0;
        top: 0;
    }

    .loginContainer__form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 40px;
        padding-top: 10px;
        display: inline-block;
        background-color: #FF9E7D;
        border-radius: 80px;
        border-width: 15px;
        border-color: #FE546F;
        border-style: solid;



        .starIcon {
            width: 120px;
            height: 120px;
            position: absolute;
            bottom: -20px;
            right: -50px;
        }

        .logo {
            font-family: 'Jolly Lodger', cursive;
            font-size: 100px;
            color: #352A55;
        }

        .loginContentWrap {
            display: flex;

            .telescopeIcon {
                margin-top: 100px;
                margin-left: -50px;
                width: 350px;
                height: 350px;
            }

            .forgot {
                text-align: end;
                margin: 10px;
                color: #3E3264;
                cursor: pointer;
            }

            .loginContent {
                margin-top: 20px;
            }
        }

        .loginContainer__form__text {
            font-weight: bolder;
            font-size: 30px;
            color: #3E3264;
        }

        hr {
            margin-bottom: 30px;
            opacity: 0.1;
        }

        label {
            color: rgb(134, 146, 166);
            margin-bottom: 10px;
            font-weight: bolder;
        }

        .loginContainer__form__emailInput {
            border-radius: 50px;
            height: 45px;
            width: 97%;
            text-align: left;
            padding-left: 30px;
            margin: 5px;
            margin-top: 25px;
            line-height: 4px;
            font-size: 15px;
            background-color: #fff;
            border: none;

            &:focus {
                outline: none;
            }
        }

        .password__container {
            position: relative;

            .loginContainer__form__passwordInput {
                border-radius: 50px;
                height: 45px;
                width: 97%;
                text-align: left;
                padding-left: 30px;
                margin: 5px;
                margin-top: 10px;
                line-height: 4px;
                font-size: 15px;
                background-color: #fff;
                border: none;

                &:focus {
                    outline: none;
                }
            }

            .eyeIcon {
                position: absolute;
                width: 20px;
                top: 50%;
                transform: translateY(-50%);
                right: 20px;
                cursor: pointer;
            }
        }

        .loginContainer__form__hr {
            margin-top: 10px;
            margin-bottom: 5px;
            // opacity: 0.2;
            text-align: center;
            // font-weight: 700;
            font-size: 15px;
        }

        .loginButton {
            border-radius: 50px;
            height: 45px;
            width: 97%;
            text-align: center;
            margin: 5px;
            line-height: 4px;
            font-size: 15px;
            background-color: #352A55;
            color: #fff;
            border: none;
            font-weight: 700;
            cursor: pointer;

            &:hover {
                background-color: #3E3264;
            }
        }

        .googleButton {
            width: 80px;
            cursor: pointer;
        }


    }


}