.submitButton:hover{
    opacity: 0.7;
    cursor: pointer;

}
.submitButton{
    border-radius:4px;
    height:45px;
    width:97%;
    text-align:center;
    margin: 5px;
    line-height:4px;
    font-size:15px;
    background-color: black;
    color:white;
    font-weight:bolder;
}

.createButton:hover{
    opacity: 0.7;
    cursor: pointer;

}
.createButton{
    background-color: blue;
    border-radius:4px;
    height:45px;
    width:97%;
    text-align:center;
    margin: 5px;
    line-height:4px;
    font-size:15px;
    color:white;
    font-weight:bolder;
}