.homeContainer {
    background: url("../../../../public/images/background-homepage.png") no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .title {
        font-family: 'Jolly Lodger', cursive;
        font-size: 100px;
        color: #0188A5;
        margin-bottom: 3rem;
        position:absolute;
        top:0;
        left:5%;
    }

    .niceText{
        font-family: 'Jolly Lodger', cursive;
        font-size: 60px;
        color: #fff;
    }

    
    .planetIcon {
        position: absolute;
        width: 300px;
        height: auto;
        right: 0;
        top: 0;
    }

    .roverIcon {
        position: absolute;
        width: 200px;
        height: 200px;
        bottom: 10px;
        left: 20px;
    }






}