.choices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;

  li:hover {
    opacity: 70%;
  }

  .choice--no-select {
    pointer-events: none;
    padding-left: 3rem;
  }

  li {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 2rem;
    padding-left: 1rem;
    font-weight: bold;
    border-radius: 1rem;
    height: 8rem;
    cursor: pointer;
    gap: 4rem;

    &:nth-child(1) {
      background-color: #f4323c;
    }

    &:nth-child(2) {
      background-color: #0b65d2;
    }

    &:nth-child(3) {
      background-color: #de9b00;
    }

    &:nth-child(4) {
      background-color: #237d09;
    }
  }
}

.choices--disabled {
  position: relative;
  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
    content: "";
    display: block;
  }
}

.disable {
  pointer-events: none;
  visibility: hidden;
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
  }
}
