.player-question {
  background: url("../../../../public/images/background-homepage.png") no-repeat
    center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  gap: 1rem;
  overflow: hidden;
  // padding: 1.2rem 3rem;
  display: flex;
  flex-direction: column;
  // background-color: orange;

  .logoSlave {
    display: inline-block;
    font-family: "Jolly Lodger", cursive;
    font-size: 100px;
    color: #0188a5;
    margin-left: 40px;
  }

  .title {
    font-family: "Jolly Lodger", cursive;
    font-size: 100px;
    color: #0188a5;
    margin-left: 40px;
  }

  .animationImg {
    span {
      &:nth-of-type(1) {
        border-color: #fe546f !important;
      }

      &:nth-of-type(2) {
        border-color: #01cbcf !important;
      }
    }
  }

  .answerDone {
    position: absolute;
    top: 50%;
    left: 38%;
    color: #fff;
    font-weight: bolder;
    font-size: 2rem;
    font-family: "Jolly Lodger";
  }

  .player-question__detail {
    display: grid;
    height: 90vh;
    grid-template-rows: 10% 45% 40%;
    grid-gap: 2%;
    padding-left: 15%;
    padding-right: 15%;

    .player-question__detail__info {
      padding-left: 2%;
      // display: flex;
      // flex-direction: row;
      // justify-content: left;
      display: grid;
      grid-template-columns: 18% 60% 18%;
      background-color: #fff;
      align-items: center;
      min-height: 7rem;
      border-radius: 1rem;
      padding: 1rem 2rem;
      gap: 4%;

      .player-question__detail__info__number {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        min-width: 20rem;
        padding: 1rem;
        align-items: center;
        background-color: #df0772;
        width: 100%;
        border-radius: 2rem;
        .player-question__detail__info__number_text {
          color: #fff;
          font-size: large;
          font-family: "Poppins";
          font-weight: bolder;
          font-size: 2rem;
          flex: 1;
        }

        .player-question__detail__info__number_number {
          color: #fff;
          background-color: #3e3264;
          padding-left: 1rem;
          padding-right: 1rem;
          border-radius: 2rem;
          font-weight: bolder;
          font-size: 2rem;
        }
      }

      .player-question__detail__info__question-content {
        text-align: center;
        color: #000000;
        font-weight: bolder;
        font-size: 2rem;
        flex: 1;
        width: 100%;
        font-family: "Poppins";
      }
      .player-question__detail__info__div {
      
      }
    }

    .player-question__detail__question {
      display: flex;
      margin-bottom: 20px;
      padding-left: 2%;
      justify-content: space-between;
      overflow: hidden;
      align-items: center;

      .player-question__detail__question__number {
        display: flex;
        flex-direction: row;
        height: 4rem;
        gap: 1rem;
        padding: 1rem;
        align-items: center;
        background-color: #df0772;
        border-radius: 2rem;
        min-width: 12rem;
        width: 12%;
        justify-content: space-between;

        .player-question__detail__question__number_text {
          color: #fff;
          font-size: 2rem;
          font-family: "Poppins";
          font-weight: bolder;
        }

        .player-question__detail__question__number_number {
          color: #fff;
          background-color: #3e3264;
          font-size: 2rem;
          font-family: "Poppins";
          font-weight: bolder;
          padding-left: 1rem;
          padding-right: 1rem;
          border-radius: 2rem;
          width: auto;
        }
      }

      div {
        &:nth-of-type(2) {
          width: 12%;
        }
      }

      img {
        display: block;
        height: 30rem;
        width: 50%;
        object-fit: contain;
        border-radius: 2rem;
      }
    }

    .player-question__detail-choices {
      // ul {
      //   height: 90%;
      // }
    }
  }
}
